
{% extends "template.njk" %}

{% block content %}
  <form id="getAddressInformation" method="GET">
    <div id='main'></div>
  </form>

  {# Update element container to be updated with results from the search #}
  <div id='searchResults'></div>
{% endblock %}
