{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<h1 class="govuk-heading-xl">RPTS - Postcode Search</h1>

{% if errorMsg != '' %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: errorMsg
      }
    ]
  }) }}
{% endif %}

<p class="govuk-body-m">
  You can use this service to retrieve address and local authority district code information
  for a provided postcode.
</p>

<p class="govuk-body-m">
  This will use a combination of an Ordinance Survey and public
  National Statistics Postcode data to return the required results.
</p>

{% set postcodeErrorDesc = false %}
{% if postcodeInvalidFormat %}
  {% set postcodeErrorDesc = { text: 'A valid postcode is required. For example, in the format of: TQ1 1BS. Please note that partial postcodes are not valid.' } %}
{% endif %}
{% if emptyValueFound %}
  {% if postcodeEntered == '' %}
    {% set postcodeErrorDesc = { text: 'A postcode value is required. For example: TQ1 1BS' } %}
  {% endif %}
{% endif %}

{{ govukInput({
  label: {
    text: "Postcode:",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Postcode entered can be case insensitive, and spaces are not significant."
  },
  value: postcodeEntered,
  id: "postcode",
  name: "postcode",
  preventDoubleClick: true,
  errorMessage: postcodeErrorDesc,
  classes: "govuk-input--width-10"
}) }}

{{ govukButton({
  text: "Search",
  name: "searchPostcodeBtn",
  attributes: { id: 'searchPostcodeBtn' }
}) }}

{% if addressInfo.fourCharLaCode %}
  <div class="results">

    <p class="govuk-label--m">
      Results:
    </p>

    <label class="govuk-label govuk-label--s" for="fourCharCode">
      Local Authority: 4 Char Code
    </label>

    <div class="govuk-button-group">

      {{ govukInput({
        value: addressInfo.fourCharLaCode,
        id: "fourCharCode",
        name: "fourCharCode",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyFourCharCode" },
        name: "copyFourCharCode"
      }) }}

    </div>

    <label class="govuk-label govuk-label--s" for="nineCharCode">
      Local Authority: 9 Char Code
    </label>

    <div class="govuk-button-group">

      {{ govukInput({
        value: addressInfo.nineCharLaCode,
        id: "nineCharCode",
        name: "nineCharCode",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyNineCharCode" },
        name: "copyNineCharCode"
      }) }}

    </div>

    {% set addressItems = [] %}
    {% for address in addressInfo.addresses %}
      {% set addressItems = (addressItems.push(
        {
          value: address.DPA.ADDRESS,
          text: address.DPA.ADDRESS
        }
      ), addressItemsTemp) %}
    {% endfor %}

    {{ govukSelect({
      id: "addressesList",
      name: "addressesList",
      label: {
        text: "Addresses",
        classes: "govuk-label--s"
      },
      items: addressItems
    }) }}

    {# Adding extra fields to display the address lines #}
    <label class="govuk-label" for="addressLine1">
      Address Line 1
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine1",
        name: "addressLine1",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine1" },
        name: "copyAddressLine1"
      }) }}
    </div>

    <label class="govuk-label" for="addressLine2">
      Address Line 2
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine2",
        name: "addressLine2",
        classes: "govuk-input--width-10"
      }) }}
      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine2" },
        name: "copyAddressLine2"
      }) }}
    </div>

    <label class="govuk-label" for="addressLine3">
      Address Line 3
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine3",
        name: "addressLine3",
        classes: "govuk-input--width-10"
      }) }}
      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine3" },
        name: "copyAddressLine3"
      }) }}
    </div>

    <label class="govuk-label" for="addressLine4">
      Address Line 4
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine4",
        name: "addressLine4",
        classes: "govuk-input--width-10"
      }) }}
      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine4" },
        name: "copyAddressLine4"
      }) }}
    </div>

    <label class="govuk-label" for="addressLine5">
      Address Line 5
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine5",
        name: "addressLine5",
        classes: "govuk-input--width-10"
      }) }}
      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine5" },
        name: "copyAddressLine5"
      }) }}
    </div>

    <label class="govuk-label" for="addressLine6">
      Address Line 6
    </label>
    <div class="govuk-button-group">
      {{ govukInput({
        id: "addressLine6",
        name: "addressLine6",
        classes: "govuk-input--width-10"
      }) }}
      {{ govukButton({
        text: "Copy",
        classes: "govuk-button--secondary button-spacing",
        attributes: { id: "copyAddressLine6" },
        name: "copyAddressLine6"
      }) }}
    </div>

  </div>
{% endif %}
